
@{
    ViewBag.Title = "Chat";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}
@section Styles {

    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link href="~/Areas/Admin/Content/CSS/adminlte.min.css" rel="stylesheet" />
    <style>
        .direct-chat-warning .right > .direct-chat-text::after {
            border-left-color: #f56a6a;
        }

        .direct-chat-messages a {
            font-weight: 600;
            color: lavender;
        }

        .direct-chat-messages a:hover {
            color: white !important;
        }

        #sidebar {
            width: 15em !important;
        }
    </style>
}
<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">
        <div class="col-4 col-sm-4 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-8 p-1 align-self-center">
            <h2><i class="fas fa-mobile-alt"></i> 線上客服</h2>
        </div>
    </div>
</header>
<header id="header" class="m-0 p-0"></header>
<section class="pt-5">
    <div class="col-md-10 m-auto" style="height:auto">
        <!-- DIRECT CHAT WARNING -->
        <div class="card direct-chat direct-chat-warning">
            <div class="card-header button primary" style="cursor:default; pointer-events:none">
                <h3 class="card-title" style="color:white">聯絡客服</h3>
            </div>
            <input type="hidden" id="serviceGroupId" />

            <div class="card-body">
                <!-- Conversations are loaded here -->
                <div class="direct-chat-messages" id="serviceChatBox" style="margin:10px; padding:10px">
                </div>
                @*<div class="direct-chat-msg right" id="adminbox">
                </div>*@
            </div>
            <div class="card-footer">
                <div class="input-group">
                    <div class="col-12 col-md-9 col-lg-10 mb-2">
                        <input type="text" name="message" placeholder="輸入訊息..." class="form-control" id="message" autocomplete="off">
                    </div>
                    <div class="col-12 col-md-3 col-lg-2">
                        <span class="input-group-append">
                            <input type="button" class="button primary fit" id="sendmessage" value="傳送" />
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--</div>-->
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Content/moment-js/moment.min.js"></script>

    <script>
        $(function () {


            //========================================================================
            //恩旗
            //For Test
            var chat = $.connection.chatHub;

            chat.client.receive = function (connId, userName, message, timeStamp, image, groupId) {
                write(userName, message, $.connection.hub.id == connId, timeStamp, image)

                let chatBox = document.getElementById("serviceChatBox");
                chatBox.scrollTop = chatBox.scrollHeight;
            }

            $.connection.hub.start().done(function () {

                //Auto add to ServiceGroup
                $.ajax({
                    url: "AddToServiceGroup",
                    method: "POST",
                    data: {
                        connId: $.connection.hub.id
                    },
                    success: function (data) {
                        alert(data.Result);
                        $("#serviceGroupId").val(data.GroupId);
                        LoadMessages();
                    }
                });
                //===================================
                $("#sendmessage").click(function () {

                    if ($("#message").val() == "") {
                        alert("請輸入訊息");
                        return;
                    }

                    $.ajax({
                        url: "SendMessage",
                        type: "POST",
                        data: {
                            connId: $.connection.hub.id,
                            groupId: $("#serviceGroupId").val(),
                            message: $("#message").val()
                        }
                    });
                });
            });
        });

        function write(userName, message, isSelf, timeStamp, image) {

            if (isSelf) {
                let dialogDiv = $("<div></div>").addClass("direct-chat-msg");

                $("<div></div>").addClass("direct-chat-infos clearfix")
                    .append($("<span></span>").addClass("direct-chat-name float-left").text(userName))
                    .append($("<span></span>").addClass("direct-chat-timestamp float-right").text(timeStamp))
                    .appendTo(dialogDiv);

                $("<img/>").addClass("direct-chat-img")
                    .attr("src", "/Areas/Admin/Content/UserImage/" + image)
                    .appendTo(dialogDiv);

                $("<div></div>").addClass("direct-chat-text")
                    .css("background-color", "plum").css("color", "white").css("border-color", "plum")
                    .html(message)
                    .appendTo(dialogDiv);

                $("#serviceChatBox").append(dialogDiv);

            } else {
                let dialogDiv = $("<div></div>").addClass("direct-chat-msg right");

                $("<div></div>").addClass("direct-chat-infos clearfix")
                    .append($("<span></span>").addClass("direct-chat-name float-right").text(userName))
                    .append($("<span></span>").addClass("direct-chat-timestamp float-left").text(timeStamp))
                    .appendTo(dialogDiv);

                $("<img/>").addClass("direct-chat-img")
                    .attr("src", "/Areas/Admin/Content/UserImage/" + image)
                    .appendTo(dialogDiv);

                $("<div></div>").addClass("direct-chat-text")
                    .css("background-color", "#f56a6a").css("color", "white").css("border-color", "#f56a6a")
                    .html(message)
                    .appendTo(dialogDiv);

                $("#serviceChatBox").append(dialogDiv);
            }

        }

        //todo Load Group Messages
        function LoadMessages() {
            if ($("#serviceGroupId").val() != "") {
                $.ajax({
                    url: "GetGroupMsgs",
                    type: "POST",
                    data: {
                        groupId: $("#serviceGroupId").val()
                    },
                    success: function (data) {

                        $("#serviceChatBox").html("");

                        $.each(data, function (i, msg) {
                            write(msg.userName, msg.message, $.connection.hub.id == msg.connId, msg.timeStamp, msg.image);
                        });

                        let chatBox = document.getElementById("serviceChatBox");
                        chatBox.scrollTop = chatBox.scrollHeight;
                    }
                });
            }
        }
    </script>
}

