@model DAL.DietLog

@{
    ViewBag.Title = "Create";
}


@*=====*@
<div class="content">


    <form @*action="~/Customer/Save/"*@ method="post">
        <input type="hidden" name="MemberID" value="17" />

        <input type="hidden" name="EditTime" value="@DateTime.Now.Date" />
        <input type="hidden" name="IsValid" value="True" />

        <p>
            餐點關鍵字:<input type="number" name="MealOptionID" value="" placeholder="關鍵字搜尋" />
        </p>
        <p>
            時段:<input type="text" name="fName" value="" placeholder="關鍵字搜尋" />

            <select class="todSele" name="TimeOfDay">
                <option value="1">早餐</option>
                <option value="2">午餐</option>
                <option value="3">晚餐</option>
                <option value="4">點心</option>
                <option value="5">宵夜</option>
            </select>
        </p>
        <p>
            份量:<input type="number" name="fName" value="" placeholder="關鍵字搜尋" />
        </p>
        <p>
            日期:<input type="text" name="fName" value="" placeholder="關鍵字搜尋" />

        </p>

    </form>
</div>
<span class="image object">
    <img src="images/pic10.jpg" alt="" />
</span>








<script src="~/Scripts/jquery.validate.min.js"></script>
<script src="~/Scripts/jquery.validate.unobtrusive.min.js"></script>
<script src="~/Content/js/jquery.min.js"></script>