@using DTO
@using DTO.ViewModels
@using DAL
@model DTO.CreateDietLogViewModel


@{
    if (Model.hasProgram == true)
    {
        <h3>user has an active program</h3>
    }
    else
    {
        <h3>user has no active program</h3>
    }


}

@using (Html.BeginForm("AddToSession", "HHDiet"))
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        <div class="form-group">
            <div class=" col-md-10">
                @Html.Editor("txtID")<input type="submit" value="加入" class="btn btn-default" />
            </div>
        </div>
    </div>

}