
@{
    ViewBag.Title = "MainPage";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}
@model DTO.CountDTO
<div class="col-lg-3 col-6">
    <!-- small box -->
    <div class="small-box bg-info">
        <div class="inner">
            <h3>@Model.UserCount</h3>

            <p>會員總人數</p>
        </div>
        <div class="icon">
            <i class="fas fa-user-friends"></i>
        </div>
        <a href="~/Admin/User/UserList" class="small-box-footer">查看所有會員 <i class="fas fa-arrow-circle-right"></i></a>
    </div>
</div>

