@using DTO
@model Dictionary<string, ChatGroupDTO>

@{
    ViewBag.Title = "GroupChat";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}

@section Styles{
    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Areas/Admin/Content/CSS/adminlte.min.css" rel="stylesheet" />
    <link href="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    <style>
        .direct-chat-messages .right > .direct-chat-text::after {
            border-left-color: #f56a6a;
            color: #f56a6a;
        }

        .direct-chat-messages :not(.right) > .direct-chat-text::before {
            border-right-color: plum;
            color: plum;
        }

        .direct-chat-messages a {
            font-weight: 600;
            color: lavender;
        }

        .direct-chat-messages a:hover {
            color: white !important;
        }

        #sidebar {
            width: 15em !important;
        }

        .myBox {
            /*border: solid 2px gray;
            border-radius: 10px;*/
            padding: 15px;
        }

        .myInnerBox {
            border: solid 1px #f56a6a;
            border-radius: 0.9em;
            padding: 5px;
            box-shadow: 5px 5px 10px 5px #E0E0E0;
            min-height: 200px;
        }

        #groupDetail {
            display: none;
        }

        #weight1, #weight2 {
            display:inline-block;
            margin:5px;
            width: 4em;
        }

        #groupName, #difficulty {
            margin: 5px;
        }

        #difficulty span {
            color: #f56a6a;
            font-weight: 600;
        }

        .chatGroup {
            width:90%;
            border: solid 1px #f56a6a;
            border-radius: 0.9em;
            text-align:center;
        }

        .myInnerBox .button {
            text-transform: none;
            border-radius: 0.9em;
            font-size:1em;
            line-height:1.2em;
            height:min-content;
            padding: 5px;
            
        }

        #members .button {
            padding:10px !important;
            margin: 5px;
        }

        .card-header.button {
            text-transform: none;
        }

        .card {
            border: solid 1px #f56a6a;
            border-radius: 0.9em;
            box-shadow: 5px 5px 10px 5px #E0E0E0;
            overflow:hidden;
        }

        #groupsTitle, #membersTitle {
            border-bottom: solid 2px #f56a6a;
            text-align:center;
        }

        #groups {
            display:flex;
            flex-direction:column;
            row-gap: 5px;
            justify-content:center;
            align-items: center;
            padding:10px;
        }

        #members {
            padding:5px;
        }

        .chat-groups, .chat-members {
            height:162px;
            overflow:auto;
        }

        .groupchatNotRead {
            width: 80%;
            text-align: center;
            font-size: 1em;
            color: white;
            background-color: lightgray;
            border-radius: 12px;
            margin: 5px auto;
        }

        #chatbox {
            position: relative;
            scroll-behavior: smooth;
        }

        .gcNotReadNum {
            display: flex;
            justify-content: center;
            align-items: center;
            margin-left: auto;
            background-color: white;
            color: #f56a6a;
            padding: 2px 2px;
            border: solid 2px #f56a6a;
            border-radius: 0.9em;
            width: 1.8em;
            height: 1.8em;
        }

        .groupRow {
            display:flex;
            justify-content:center;
            align-items:center;
            width:100%;
        }
        .groupRow:last-child {
            margin-bottom:auto;
        }

        @*ForDemo=========================*@
        .demo {
            display: flex;
            position: fixed;
            left: 20em !important;
            bottom: 50px;
            column-gap:10px;
        }

        .demoButton {
            background-color: cornflowerblue;
            color: white;
            padding: 5px;
            border-radius: 10px;
        }

    </style>
}

<header style="background-color: #fff0f0; width: 100%; padding-right: 0px " class="pt-5 pb-1 m-0 col-12">
    <div class="row" style="width: 100%; padding-right: 20px">
        <div class="col-4 col-sm-4 col-lg-2 p-2 p-0" style="text-align:center">
            <a href="/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:90px;width:100%"></a>
        </div>
        <div class="col-6 col-sm-6 col-lg-8 p-1 align-self-center">
            <h2 style="font-size: 1.8em"><i class="fas fa-sms"></i> 減重聊天群</h2>
        </div>
        <div class="col-2 col-sm-4 col-md-3 col-lg-2 align-self-end justify-content-end d-none d-sm-block">
            <label id="newGroup" class="button primary"><i class="fas fa-sms"></i>新增聊天群</label>
        </div>
    </div>
</header>
<header id="header" class="m-0 p-0"></header>
<section class="pt-2 container row">
    
    <div class="myBox col-md-4" style="display:flex; flex-direction:column">
        <div class="myInnerBox" style="margin-bottom:30px">
            <div id="groupsTitle">群組</div>
            <div id="groups" class="chat-groups">

            </div>
        </div>
        <div class="myInnerBox">
            <div id="membersTitle">群組成員</div>
            <div id="members" class="chat-members">

            </div>
        </div>
    </div>
    <div class="col-md-8 myBox">
        <div style="height:auto">
            <!-- DIRECT CHAT WARNING -->
            <div class="card direct-chat direct-chat-warning">
                <div class="card-header button primary" style="cursor:default; pointer-events:none">
                    <h3 id="groupTitle" class="card-title" style="color:white">聊天群組：</h3>
                </div>
                <input type="hidden" id="groupId" />
                <div class="card-body">
                    <!-- Conversations are loaded here -->
                    <div class="direct-chat-messages" id="chatbox" style="margin:10px; padding:10px">
                    </div>
                </div>
                <div class="card-footer">
                    <div class="input-group">
                        <div class="col-12 col-md-9 col-lg-10 mb-2">
                            <input type="text" name="message" placeholder="輸入訊息..." class="form-control" id="message" autocomplete="off">
                        </div>
                        <div class="col-12 col-md-3 col-lg-2">
                            <span class="input-group-append">
                                <input type="button" class="button primary fit" id="sendmessage" value="傳送" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<!--dialog================================================== -->
<div id="groupDetail">
    請輸入聊天群名稱和體重區間：
    <input type="text" id="groupName" autocomplete="off" placeholder="聊天群名稱"/>
    <div>初始體重<span id="initWeight" style="color: #f56a6a">@ViewBag.initWeight</span>kg</div>
    <input type="text" id="weight1" placeholder="體重"/>kg~<input type="text" id="weight2" placeholder="體重"/>kg
    <div id="difficulty">您的挑戰難度為<span></span></div>
</div>
<!--Demo=====================================================-->
<div class="demo">
    <div class="demoButton" onclick="autoInputMsgs3()">enchi</div>
    <div class="demoButton" onclick="autoInputMsgs4()">wevmn</div>
    <div class="demoButton" onclick="autoInputMsgs5()">User01</div>
    <div class="demoButton" onclick="autoInputMsgs6()">frank</div>
    <div class="demoButton" onclick="autoInputMsgs7()">zzzz</div>
</div>
<!--=========================================================-->
@section scripts {

    @*<script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>*@
    <script src="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    <script>

        $(function () {

            var chat = $.connection.groupChatHub;

            chat.client.receiveFromGroupMember = function (connIds, userName, message, timeStamp, image) {

                let index = $.inArray($.connection.hub.id, connIds)

                write(userName, message, index != -1, timeStamp, image);

                let chatBox = document.getElementById("chatbox");
                chatBox.scrollTop = chatBox.scrollHeight;
            }

            let IntervalID = setInterval(function () {

                //Refresh Group
                $.ajax({
                    url: "GetGroups",
                    type: "POST",
                    success: function (data) {

                        let docFrag = document.createDocumentFragment();

                        $.each(data, function (i, g) {
                            let cell1 = $("<div></div>").addClass("chatGroup").addClass("button")
                                .attr("data-groupId", g.ID).attr("data-groupName", g.GroupName)
                                .text(`[${g.GroupName}] (${g.StartWeight}kg~${g.EndWeight}kg) ${g.Difficulty}`);

                            let cell2 = $("<div></div>").addClass("gcNotReadNum");

                            if (cell1.attr("data-groupId") == $("#groupId").val()) {
                                $(cell2).html("<i class='fas fa-plug'></i>")
                                    .css("color", "white").css("background-color", "#f56a6a");
                            } else if (g.NotReadCount != -1) {
                                $(cell2).text(g.NotReadCount);
                            } else {
                                $(cell2).html("<i class='fas fa-plug'></i>");
                            }

                            if (g.ID == $("#groupId").val()) {
                                $(cell1).addClass("primary");
                            }

                            let groupDiv = $("<div></div>").addClass("groupRow");
                            $(groupDiv).append(cell1, cell2);

                            $(docFrag).append(groupDiv);
                        });

                        $("#groups").html("");
                        $("#groups").append(docFrag);
                    }
                });

                //Refresh Group Members
                if ($("#groupId").val() != "") {
                    $.ajax({
                        url: "GetGroupMembers",
                        type: "POST",
                        data: {
                            groupId: $("#groupId").val()
                        },
                        success: function (data) {

                            let docFrag = document.createDocumentFragment();

                            $.each(data, function (i, m) {

                                let cell = $("<div></div>").addClass("button").text(m);

                                if (i == 0) {
                                    $(cell).addClass("primary");
                                }

                                $(docFrag).append(cell);
                            });

                            $("#members").html("");
                            $("#members").append(docFrag);
                        }
                    });
                }


            }, 1500);


        });

        function write(userName, message, isSelf, timeStamp, image) {

            if (isSelf) {
                let dialogDiv = $("<div></div>").addClass("direct-chat-msg");

                $("<div></div>").addClass("direct-chat-infos clearfix")
                    .append($("<span></span>").addClass("direct-chat-name float-left").text(userName))
                    .append($("<span></span>").addClass("direct-chat-timestamp float-right").text(timeStamp))
                    .appendTo(dialogDiv);

                $("<img/>").addClass("direct-chat-img")
                    .attr("src", "/Areas/Admin/Content/UserImage/" + image)
                    .appendTo(dialogDiv);

                $("<div></div>").addClass("direct-chat-text")
                    .css("background-color", "plum").css("color", "white").css("border-color", "plum")
                    .text(message)
                    .appendTo(dialogDiv);

                $("#chatbox").append(dialogDiv);

            } else {
                let dialogDiv = $("<div></div>").addClass("direct-chat-msg right");

                    $("<div></div>").addClass("direct-chat-infos clearfix")
                        .append($("<span></span>").addClass("direct-chat-name float-right").text(userName))
                        .append($("<span></span>").addClass("direct-chat-timestamp float-left").text(timeStamp))
                        .appendTo(dialogDiv);

                    $("<img/>").addClass("direct-chat-img")
                        .attr("src", "/Areas/Admin/Content/UserImage/" + image)
                        .appendTo(dialogDiv);

                    $("<div></div>").addClass("direct-chat-text")
                        .css("background-color", "#f56a6a").css("color", "white").css("border-color", "#f56a6a")
                        .text(message)
                    .appendTo(dialogDiv);

                $("#chatbox").append(dialogDiv);
            }

        }

        function AddToChatGroup() {

            //Set groupId When Return
            if ($("#groupId").val() == "") {

                $.ajax({
                    url: "GetGroupId",
                    type: "POST",
                    data: {
                        connId: $.connection.hub.id
                    },
                    success: function (data) {

                        $("#groupId").val(data.GroupID);
                        $("#groupTitle").text(`聊天群組：${data.GroupName}`);
                        LoadMessages();
                    }
                });
            }

            //New Group
            $("#newGroup").click(function () {

                if (@Json.Encode(ViewBag.initWeight) == null) {
                    alert("您沒有進行挑戰");
                    return;
                }

                if ($("#groupId").val() != "") {
                    if (!confirm("確定離開目前群組嗎？")) {
                        return;
                    }
                }

                $("#groupDetail").dialog({
                    title: "聊天群",
                    modal: true,
                    open: function (event, ui) {
                        $('.ui-dialog .btnOK').addClass("primary")
                            .css("padding", "10px").css("border-radius", "5px")
                            .css("outline-color", "white");
                        $(this).parent().focus();

                        $.ajax({
                            url: "GetDifficulty",
                            type: "POST",
                            success: function (data) {
                                console.log(data);
                                if (data == "Easy") {
                                    $("#difficulty span").html("簡單");
                                } else if (data == "Normal") {
                                    $("#difficulty span").html("正常");
                                } else if (data == "Hard") {
                                    $("#difficulty span").html("困難");
                                }
                            }
                        });
                    },
                    dialogClass: "no-close",
                    buttons: [{
                        text: "確認",
                        class: "btnOK",
                        click: function () {

                            if ($("#groupName").val() == "") {
                                alert("請輸入聊天群名稱");
                                return;
                            }

                            if ($("#groupName").val().length > 6) {
                                alert("聊天群名稱須為6個字以內");
                                return;
                            }

                            if (parseInt($("#weight1").val(), 10) >= parseInt($("#weight2").val(), 10)) {
                                alert("體重區間錯誤");
                                return;
                            }

                            let patt = /^[0-9]+$/

                            if (!patt.test($("#weight1").val()) || !patt.test($("#weight2").val())) {
                                alert("請輸入有效體重");
                                return;
                            }

                            $.ajax({
                                url: "NewGroup",
                                type: "POST",
                                data: {
                                    connId: $.connection.hub.id,
                                    groupName: $("#groupName").val(),
                                    weight1: $("#weight1").val(),
                                    weight2: $("#weight2").val(),
                                    preGroupId: $("#groupId").val()
                                },
                                success: function (data) {
                                    if (data.Result == "Success") {
                                        alert(data.Result);
                                        $("#groupName").val("");
                                        $("#weight1").val("");
                                        $("#weight2").val("");
                                        $("#groupId").val(data.GroupID);
                                        $("#groupTitle").text(`聊天群組：${data.GroupName}`);
                                        $("#chatbox").html("");
                                    } else {
                                        alert(data.Result);
                                    }
                                }
                            });

                            $("#groupDetail").dialog("close");
                        }
                    },
                    {
                        text: "取消",
                        class: "btnOK",
                        click: function () {
                            $("#groupDetail").dialog("close");
                        }
                    }]
                });

                $('.ui-dialog button').mousedown(function (e) {
                    e.preventDefault();
                });
            });

            //Change Group
            $("body").on("click", ".chatGroup", function () {

                if ($(this).attr("data-groupId") == $("#groupId").val()) {
                    alert("已在此群組");
                    return;
                } else {
                    if ($("#groupId").val() != "" && !confirm("確定離開目前群組嗎？")) {
                        return;
                    }
                }

                $.ajax({
                    url: "AddToGroup",
                    type: "POST",
                    data: {
                        connId: $.connection.hub.id,
                        groupId: $(this).attr("data-groupId"),
                        groupName: $(this).attr("data-groupName"),
                        preGroupId: $("#groupId").val()
                    },
                    success: function (data) {
                        if (data.Result == "Success") {
                            alert(data.Result);
                            $("#groupId").val(data.GroupID);
                            $("#groupTitle").text(`聊天群組：${data.GroupName}`);
                            LoadMessages();
                        } else {
                            alert(data.Result);
                        }
                    }
                });
            });

            $("#sendmessage").click(function () {

                if ($("#message").val() == "") {
                    alert("請輸入訊息");
                    return;
                }

                promiseForDemo2 = $.ajax({
                    url: "SendMessage",
                    type: "POST",
                    data: {
                        connId: $.connection.hub.id,
                        groupId: $("#groupId").val(),
                        message: $("#message").val()
                    }
                }).promise();
            });

        }

        //todo Load Group Messages
        function LoadMessages() {
            if ($("#groupId").val() != "") {
                $.ajax({
                    url: "GetGroupMsgs",
                    type: "POST",
                    data: {
                        groupId: $("#groupId").val()
                    },
                    success: function (data) {

                        $("#chatbox").html("");

                        $.each(data.Messages, function (i, msg) {

                            if (i == (data.Messages.length - data.NotReadCount)) {
                                appendNotReadForGC();
                            }

                            let index = $.inArray($.connection.hub.id, msg.connIds)
                            write(msg.userName, msg.message, index != -1, msg.timeStamp, msg.image);
                        });

                        if ($(".groupchatNotRead").length != 0) {
                            $("#chatbox").scrollTop($("#chatbox").scrollTop() + $(".groupchatNotRead").position().top);
                        } else {
                            $("#chatbox").scrollTop($("#chatbox").prop("scrollHeight"));
                        }
                    }
                });
            }
        }

        function appendNotReadForGC() {

            let NotReadDiv = $("<div></div>").addClass("groupchatNotRead").append("以下為未讀訊息");

            $("#chatbox").append(NotReadDiv);
        }

        //ForDemo================================

        let promiseForDemo2;

        function autoInputMsgs3() {
            msgs = [
                "我減了2公斤耶",
                "沒有人？...",
                "去揪一些人來"
            ];

            autoInput(msgs);
        }

        function autoInputMsgs4() {
            msgs = [
                "我也減了2公斤耶",
                "真巧",
                "一起努力吧"
            ];

            autoInput(msgs);
        }

        function autoInputMsgs5() {
            msgs = [
                "虎哥來了嗎？",
                "豹哥在等了",
                "古哥今天不會來"
            ];

            autoInput(msgs);
        }

        function autoInputMsgs6() {
            msgs = [
                "加不了另一個群組",
                "只好自己開一個",
                "等等看有沒有人會進來"
            ];

            autoInput(msgs);
        }

        function autoInputMsgs7() {
            msgs = [
                "可以進來耶",
                "我減了3公斤",
                "你呢？"
            ];

            autoInput(msgs);
        }

        async function autoInput(msgs) {
            for (let i = 0; i < msgs.length; i++) {
                $("#message").val(msgs[i]);
                $("#sendmessage").click();
                await promiseForDemo2;
            }
        }

    </script>
}
