
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@using DTO
@section Styles {
    <link href="~/Areas/Admin/Content/CSS/adminlte.min.css" rel="stylesheet" />


    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    
}
<section class="content-header">
    <h1>線上客服</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item active"><a>線上客服</a></li>
    </ol>
</section>
<br />
<section class="content">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">在線使用者</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    圖像
                                </th>
                                <th style="width: 30% ">
                                    連線編號
                                </th>
                                <th style="width: 25%">
                                    使用者
                                </th>
                                <th style="width: 25%">
                                    聯絡
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in DTO.UserStatic.ConnectedUsers)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Areas/Admin/Content/UserImage/@item.ImagePath" class="direct-chat-img">
                                        </td>
                                        <td>

                                            @item.ConnID
                                        </td>
                                        <td>
                                            @item.UserName
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-primary btn-sm" href="#">
                                                連線
                                            </a>

                                        </td>
                                    </tr>
                                }*@


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="col-12 col-md-7">
            <div class="col-12 ">
                <!-- DIRECT CHAT WARNING -->
                <div class="card direct-chat">
                    <div class="card-header " style="cursor: default; pointer-events: none; background-color: #007bff ">
                        <h3 id="dialogTitle" class="card-title mb-0" style="color:white;padding:5px">聯絡客服</h3>
                    </div>
                    <input type="hidden" id="displayname" />

                    <div id="dialogContainer" class="card-body" style="padding:0px">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" id="chatbox" style="margin: 10px; padding:10px">




                        </div>
                        <div class="direct-chat-msg right" id="adminbox" style="margin: 10px">

                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <div class="col-12 col-md-9 col-lg-10 mb-2">
                                <input type="text" name="message" placeholder="輸入訊息..." class="form-control" id="message" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-3 col-lg-2">
                                <span class="input-group-append">
                                    <input type="button" class="btn btn-primary" id="sendmessage" value="傳送" style="width:100%" />

                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--</div>-->
@section scripts {

    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/signalr/hubs"></script>
    <script src="~/Content/moment-js/moment.min.js"></script>
    <script>

        $(function () {

            //========================================================
            //恩旗
            //Receive
            var chat = $.connection.chatHub;

            var currentChatBox = $("#chatbox");
            var originChatBox = $("#chatbox");
            var connId = "";

            chat.client.receiveFromCustomer = function (connId, userName, imagePath, message) {

                if ($(".direct-chat-messages[data-connId=" + connId + "]").length == 0) {

                    if ($(currentChatBox).is(originChatBox)
                            && typeof $(currentChatBox).attr("data-connId") == "undefined") {
                        $(currentChatBox).attr("data-connId", connId);
                        $("#dialogTitle").text(`聯絡客服　(使用者：${userName})`);

                    } else {
                        alert(2);
                        let clone = $(currentChatBox).clone();
                        $(clone).html("");
                        $(clone).attr("data-connId", connId);
                        $(clone).hide();
                        $(clone).appendTo($("#dialogContainer"));
                    }
                }

                let dialogDiv = $("<div></div>").addClass("direct-chat-msg right");

                $("<div></div>").addClass("direct-chat-infos clearfix")
                    .append($("<span></span>").addClass("direct-chat-name float-right").text(userName))
                    .append($("<span></span>").addClass("direct-chat-timestamp float-left").text(moment(new Date()).format("M/D HH:mm")))
                    .appendTo(dialogDiv);

                $("<img/>").addClass("direct-chat-img")
                    .attr("src", "/Areas/Admin/Content/UserImage/" + imagePath)
                    .appendTo(dialogDiv);

                $("<div></div>").addClass("direct-chat-text")
                    .css("background-color", "#007bff").css("color", "white")
                    .text(message)
                    .appendTo(dialogDiv);

                let chatbox = $(".direct-chat-messages[data-connId=" + connId + "]").append(dialogDiv);

                if ($(chatbox).css("display") == "none") {
                    alert(6);
                    $(chatbox).attr("data-read", false);
                    console.log($(chatbox).attr("data-read"));
                }
            }

            //================================================
            //Hide chatbox


            $("tbody").on("click", "a", function () {

                if ('@Session["ID"]' == $(this).attr('data-userId')) {
                    alert("那是你自已啊");
                    return;
                }

                $(this).removeClass("btn-danger").addClass("btn-primary").text("連線");

                $("#dialogTitle").text(`聯絡客服　(使用者：${$(this).parent().prev().text()})`);

                connId = $(this).parent().prev().prev().text();

                if ($(".direct-chat-messages[data-connId=" + connId + "]").length) {
                    $(currentChatBox).hide();
                    $(".direct-chat-messages[data-connId=" + connId + "]").show();
                    $(".direct-chat-messages[data-connId=" + connId + "]").prependTo($("#dialogContainer"));
                    currentChatBox = $(".direct-chat-messages[data-connId=" + connId + "]");

                    $(currentChatBox).attr("data-read", true);

                } else {
                    alert(3);
                    if ($(currentChatBox).is(originChatBox)
                            && typeof $(currentChatBox).attr("data-connId") == "undefined") {
                        alert(4);
                        $(currentChatBox).attr("data-connId", connId);
                    } else {
                        alert(5);
                        let clone = $(currentChatBox).clone();
                        $(clone).html("");
                        $(clone).attr("data-connId", connId);
                        $(currentChatBox).hide();
                        $(clone).show();
                        $(clone).prependTo($("#dialogContainer"));
                        currentChatBox = $(clone);
                    }
                }
            })

            //==========================================================
            //send message

            $.connection.hub.start().done(function () {
                $("#sendmessage").click(function () {

                    if (!$(currentChatBox).is("[data-connId]")) {
                        alert("請選擇要服務的使用者");
                        return;
                    }

                    if ($("#message").val() == "") {
                        alert("請輸入訊息");
                        return;
                    }

                    let dialogDiv = $("<div></div>").addClass("direct-chat-msg");

                    $("<div></div>").addClass("direct-chat-infos clearfix")
                        .append($("<span></span>").addClass("direct-chat-name float-left").text("客服人員"))
                        .append($("<span></span>").addClass("direct-chat-timestamp float-right").text(moment(new Date()).format("M/D HH:mm")))
                        .appendTo(dialogDiv);

                    $("<img/>").addClass("direct-chat-img")
                        .attr("src", "/Areas/Admin/Content/UserImage/2d6c0c9d-8f6a-46bc-b296-05e7261e0836user2.png")
                        .appendTo(dialogDiv);

                    $("<div></div>").addClass("direct-chat-text")
                        .text($("#message").val())
                        .appendTo(dialogDiv);

                    currentChatBox.append(dialogDiv);

                    $.ajax({
                        url: "Contact",
                        method: "POST",
                        data: {
                            connId: $(currentChatBox).attr("data-connId"),
                            message: $("#message").val()
                        }
                    });
                });

            });

        });
    </script>


    <script type="text/javascript">
        setInterval(function () {
            //if (HasChanged() == "true") {
            GetOnlineUsers();
            //}
        }, 5000)

        @*function HasChanged() {
            var hasChanged;
            $.ajax({
                url: "HasChanged",
                data: { previousList: @DTO.UserHandler.ConnectedIds },
                success: function (result) {
                    hasChanged = result;
                    console.log(hasChanged);

                }
            })
            return hasChanged;
        }*@
        function GetOnlineUsers() {
            $('tbody').empty();
            $.ajax({
                url: "GetOnlineUsers",
                success: function (result) {
                    $.each(result, function (index, value) {
                        //var InsertedHtml = "<tr><td>"
                        //    + '<img src="/Areas/Admin/Content/UserImage/'
                        //    + value.ImagePath
                        //    + '" class="direct-chat-img">'
                        //    + "</td>"
                        //    + "<td>"
                        //    + value.ConnID
                        //    + "</td>"
                        //    + "<td>"
                        //    + value.UserName
                        //    + "</td>"
                        //    + '<td class="project-actions">'
                        //    + '<a class="btn btn-primary btn-sm" href="#" data-userId=' + value.UserID + '>'
                        //    + "連線"
                        //    + "</a></td></tr>";

                        let cell1 = $("<td></td>")
                            .append($("<img />").attr("src", "/Areas/Admin/Content/UserImage/" + value.ImagePath)
                                .addClass("direct-chat-img"));

                        let cell2 = $("<td></td>").append(value.ConnID);

                        let cell3 = $("<td></td>").append(value.UserName);

                        let cell4 = $("<td></td>").append($("<a></a>").addClass("btn btn-sm"));

                        let chatbox = $(".direct-chat-messages[data-connId=" + value.ConnID + "]");

                        if ($(chatbox).attr("data-read") == 'false') {
                            $(cell4).children("a").attr("data-userId", value.UserID).addClass("btn-danger").text("新訊息");
                        } else {
                            $(cell4).children("a").attr("data-userId", value.UserID).addClass("btn-primary").text("連線");
                        }

                        $('tbody').append($("<tr></tr>").append(cell1, cell2, cell3, cell4));
                        
                    })
                }
            })
        }



    </script>
}

