
@{
    ViewBag.Title = "Contact";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@using DTO
@section Styles {
    <link href="~/Areas/Admin/Content/CSS/adminlte.min.css" rel="stylesheet" />


    <link href="~/Content/css/fontawesome-all.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">


}
<section class="content-header">
    <h1>線上客服</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item active"><a>線上客服</a></li>
    </ol>
</section>
<br />
<section class="content">
    <div class="row">
        <div class="col-12 col-md-5">
            <div class="card">
                <div class="card-header">
                    <h3 class="card-title">在線使用者</h3>

                    <div class="card-tools">
                        <button type="button" class="btn btn-tool" data-card-widget="collapse" title="Collapse">
                            <i class="fas fa-minus"></i>
                        </button>
                        <button type="button" class="btn btn-tool" data-card-widget="remove" title="Remove">
                            <i class="fas fa-times"></i>
                        </button>
                    </div>
                </div>
                <div class="card-body p-0">
                    <table class="table table-striped projects">
                        <thead>
                            <tr>
                                <th style="width: 20%">
                                    圖像
                                </th>
                                <th style="width: 30% ">
                                    連線編號
                                </th>
                                <th style="width: 25%">
                                    使用者
                                </th>
                                <th style="width: 25%">
                                    聯絡
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @*@foreach (var item in DTO.UserStatic.ConnectedUsers)
                                {
                                    <tr>
                                        <td>
                                            <img src="~/Areas/Admin/Content/UserImage/@item.ImagePath" class="direct-chat-img">
                                        </td>
                                        <td>

                                            @item.ConnID
                                        </td>
                                        <td>
                                            @item.UserName
                                        </td>
                                        <td class="project-actions">
                                            <a class="btn btn-primary btn-sm" href="#">
                                                連線
                                            </a>

                                        </td>
                                    </tr>
                                }*@


                        </tbody>
                    </table>
                </div>
            </div>
            <!-- /.card-body -->
        </div>
        <div class="col-12 col-md-7">
            <div class="col-12 ">
                <!-- DIRECT CHAT WARNING -->
                <div class="card direct-chat">
                    <div class="card-header " style="cursor: default; pointer-events: none; background-color: #007bff ">
                        <h3 class="card-title mb-0" style="color:white;padding:5px">聯絡客服</h3>
                    </div>
                    <input type="hidden" id="displayname" />

                    <div class="card-body" style="padding:0px">
                        <!-- Conversations are loaded here -->
                        <div class="direct-chat-messages" id="chatbox" style="margin: 10px; padding:10px">

                        </div>
                        <div class="direct-chat-msg right" id="adminbox" style="margin: 10px">

                        </div>
                    </div>

                    <div class="card-footer">
                        <div class="input-group">
                            <div class="col-12 col-md-9 col-lg-10 mb-2">
                                <input type="text" name="message" placeholder="輸入訊息..." class="form-control" id="message" autocomplete="off">
                            </div>
                            <div class="col-12 col-md-3 col-lg-2">
                                <span class="input-group-append">
                                    <input type="button" class="btn btn-primary" id="sendmessage" value="傳送" style="width:100%" />

                                </span>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</section>

<!--</div>-->
@section scripts {
    <!--Script references. -->
    <script src="~/Areas/Admin/Content/JS/angular.min.js"></script>

    <!--The jQuery library is required and is referenced by default in _Layout.cshtml. -->
    @*<script src="~/Scripts/jquery-1.6.4.min.js"></script>*@
    <!--Reference the SignalR library. -->
    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <!--Reference the autogenerated SignalR hub script. -->
    <script src="~/Areas/Admin/Content/JS/signalr-hub.js"></script>
    <!--SignalR script to update the chat page and send messages.-->
    <script src="~/signalr/hubs"></script>

    <script>
                $(function () {
                    // Reference the auto-generated proxy for the hub.
                    var chat = $.connection.chatHub;
                    // Create a function that the hub can call back to display messages.
                    chat.client.addNewMessageToPage = function (name, imagePath, message) {
                        // Add the message to the page.
                        $('#chatbox').append('\
                            <div class= "direct-chat-infos clearfix">\
                            <span class="direct-chat-name float-left">' + name
                            + '</span>'
                            + '<span class="direct-chat-timestamp float-right">'
                            + Date($.now()).substring(4, 24)
                            + '</span>'
                            + '</div>'
                            + '<img class="direct-chat-img" src="/Areas/Admin/Content/UserImage/' + imagePath
                            + '">'
                            + '<div class="direct-chat-text mb-1">' + message
                            + '</div>'
                            );
                    };

                    // Get the user name and store it to prepend to messages.
                    //$('#displayname').val(prompt('Enter your name:', ''));
                    // Set initial focus to message input box.
                    $('#message').focus();
                    // Start the connection.
                    $.connection.hub.start().done(function () {
                        $('#sendmessage').click(function () {
                            if ($('#message').val().trim().length != 0) {
                                // Call the Send method on the hub.
                            chat.server.send(`@Session["Name"]`, `@Session["ImagePath"]`, $('#message').val());
                            // Clear text box and reset focus for next comment.
                            $('#message').val('').focus();

                            }

                        });
                    });


                });

    </script>


    <script type="text/javascript">
        setInterval(function () {
            //if (HasChanged() == "true") {
            GetOnlineUsers();
            //}
        }, 5000)
        
        @*function HasChanged() {
            var hasChanged;
            $.ajax({
                url: "HasChanged",
                data: { previousList: @DTO.UserHandler.ConnectedIds },
                success: function (result) {
                    hasChanged = result;
                    console.log(hasChanged);

                }
            })
            return hasChanged;
        }*@
        function GetOnlineUsers() {
            $('tbody').empty();
            $.ajax({
                url: "GetOnlineUsers",
                success: function (result) {
                    $.each(result, function (index, value) {
                        var InsertedHtml = "<tr><td>"
                            + '<img src="/Areas/Admin/Content/UserImage/'
                            + value.ImagePath
                            + '" class="direct-chat-img">'
                            + "</td>"
                            + "</td>"
                            + "<td>"
                            + value.ConnID
                            + "<td>"
                            + value.UserName
                            + "</td>"
                            + '<td class="project-actions">'
                            + '<a class="btn btn-primary btn-sm" href="#">'
                            + "連線"
                            + "</a></td></tr>"; $('tbody').append(InsertedHtml);
                    })

                }
            })
        }



    </script>
}

