
@{
    ViewBag.Title = "CreateMember";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}

<h2>註冊新會員</h2>
<section class="content">
    <div class="row">
        <div class="col-md-9">
            @Html.Partial("~/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("CreateMember", "Member", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/MemberForm")
                }
            </div>
        </div>
    </div>
</section>
@section Scripts{
    <script>
            $("#txtEmail").focusout(function () {
                var yourEmail = $("#txtEmail").val();
                $.ajax({
                    url: "IsEmailExist",
                    data: { email: yourEmail },
                    //參數名稱/txt的內容
                    success: function (result) {
                        if (result == "true") {
                            $("#errorEmail").text("此帳號已註冊過").css("color", "red")
                        }
                        else {
                            $("#errorEmail").text("")
                        }
                    }
                })
            });
        $("#btnDemo").on("click", function () {
            $("#txtUserName").val("NewUser");
            $("#txtPassword").val("123456");
            $("#txtRePwd").val("123456");
            $("#txtName").val("小新");
            $("#txtEmail").val("kevinwang05010404@gmail.com");
            $("#txtBirthday").val("2000 / 01 / 01");            
            $("#txtHeight").val("175");
            $("#txtPhone").val("0900123456");
            $("#txtMeal").val("3");
            $("#txtWeight").val("80");
        });
        //$("#btnDemo2").on("click", function () {
        //    //$("#txtUserName").val("NewUser");
        //    //$("#txtPassword").val("NewUser");
        //    //$("#txtRePwd").val("NewUser");
        //    //$("#txtName").val("小新");
        //    $("#txtEmail").val("t1234@hotmail.com");
        //    //$("#txtBirthday").val("2000 / 01 / 01");
        //    //$("radio").attr("checked", true);
        //    //$("#txtHeight").val("175");
        //    //$("#txtPhone").val("0900123456");
        //    //$("#txtMeal").val("3");
        //    //$("#txtWeight").val("80");
        //})
        $("#btnSubmit").on("click", function () {
            window.alert("認證碼已寄到您的信箱")
        })

    </script>
}
