
@{ Layout = null; }

<!DOCTYPE HTML>
<!--
    Editorial by HTML5 UP
    html5up.net |
    Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>HealthHelper 你的健康管理助手</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="~/Content/css/main.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">




    @RenderSection("Styles", required: false)
    <style>
        a.toggle {
            color: red;
        }

        a {
            border-bottom: none;
        }

        img {
            border-radius: 15px 15px;
        }

        #sidebar {
            width: 15em;
            padding: 10px;
        }

        nav {
            padding: 15px;
        }

        #sidebar.inactive {
            margin-left: -15em;
        }

        #sidebar .toggle {
            left: 15em;
        }

        #sidebar > .inner {
            width: 15em;
            position: absolute;
            background-color: white;
        }
    </style>
</head>

<body class="is-preload">
    <!-- Wrapper -->
    <div id="wrapper">
        <!-- Main -->
        <div id="main">
            <div class="inner">
                <!-- Header -->
                @*<header id="header" style=" background-color: #fad7d2;width:100%;padding-right:0px" class="pt-5 pb-1 m-0 col-12">
                    <div class="row col-12 d-flex" style="width: 100%; padding-right: 0px">

                        <div class="col-4 col-sm-4 col-lg-2 p-2" style="text-align:center">
                            <a href="/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" style="max-width:100px;width:100%"></a>
                        </div>
                        <div class="col-8 col-sm-8 col-lg-10 p-1 justify-content-center">
                            <a href="/Home2/Index" class="logo" style="text-decoration: none;">
                                <div class="h-50">
                                    <strong id="logoText" style="font-size:1.7em;font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif">HealthHelper</strong>
                                </div>

                                <div class="h-50" style="font-size:1.5em">健康管理助手</div>
                            </a>
                        </div>
                    </div>
                </header>*@
                @RenderBody()
            </div>
        </div>

        <!-- Sidebar -->
        <div id="sidebar" class="p-0 w-auto">
            <div class="inner">

                <!-- Search -->
                <!-- Menu -->
                <nav id="menu" style="margin:0px">
                    <header class="major">
                        <h2>選單</h2>
                    </header>
                    <ul style="font-size: 1.3em;">
                        <li><a href="~/Home2/Index" style="text-decoration:none"><i class="fas fa-home" style="width:30px"></i> 首頁</a></li>
                        @if (Session["ID"] == null)
                        {
                            <li><a href="~/Home2/Login" style="text-decoration:none"> <i class="fas fa-user" style="width:30px"></i> 登入</a></li>
                        }
                        else
                        {



                            <li>
                                <span class="opener"><i class="fas fa-user" style="width:30px"></i> 會員</span>
                                <ul>
                                    <li><a href="#" style="text-decoration:none"><i class="far fa-user" style="width:30px"></i> 會員資訊</a></li>
                                    <li><a href="#" style="text-decoration:none"><i class="fas fa-weight" style="width:30px"></i> 體重管理</a></li>
                                    <li><a href="~/HHHealthReport/HealthReport" style="text-decoration:none"><i class="fas fa-chart-bar" style="width:30px"></i> 我的綜合圖表</a></li>


                                </ul>

                            </li>
                        }
                        <li><a href="~/Home2/Index" style="text-decoration:none"><i class="fas fa-book" style="width:30px"></i> 遊戲規則</a></li>


                        @if (Session["ID"] != null)
                        {

                            <li>
                                <span class="opener"><i class="fas fa-utensils" style="width:30px"></i> 飲食</span>
                                <ul>


                                    <li><a href="~/HHDiet/Create" style="text-decoration:none"><i class="fas fa-pen" style="width:30px"></i> 紀錄飲食</a></li>

                                    <li><a href="~/HHDietHistory/DietLogsHistory" style="text-decoration:none"><i class="fas fa-history" style="width:30px"></i> 飲食歷史</a></li>

                                </ul>

                            </li>

                            <li>
                                <span class="opener"><i class="fas fa-dumbbell" style="width:30px"></i> 運動</span>
                                <ul>

                                    <li><a href="~/FrontGift/GiftList" style="text-decoration:none"><i class="fas fa-history" style="width:30px"></i> 運動紀錄</a></li>

                                    <li><a href="~/FrontGift/GiftCart?userID=@Session["ID"]" style="text-decoration:none"><i class="fas fa-calendar" style="width:30px"></i> 運動排程</a></li>
                                    <li><a href="~/FrontGift/GiftCart?userID=@Session["ID"]" style="text-decoration:none"><i class="fas fa-heart" style="width:30px"></i> 喜好管理</a></li>


                                </ul>

                            </li>

                            <li>
                                <span class="opener"><i class="fas fa-fist-raised" style="width:30px"></i> 挑戰</span>
                                <ul>

                                    <li><a href="~/HHPrograms/RegisterProgram" style="text-decoration:none"><i class="fas fa-pen-nib" style="width:30px"></i> 參加挑戰</a></li>
                                    <li><a href="~/FrontGift/GiftList" style="text-decoration:none"><i class="fas fa-running" style="width:30px"></i> 我的挑戰</a></li>
                                    <li><a href="~/FrontGift/GiftCart?userID=@Session["ID"]" style="text-decoration:none"><i class="fas fa-history" style="width:30px"></i> 過去挑戰</a></li>


                                </ul>

                            </li>
                        }



                        <li>
                            <span class="opener"><i class="fas fa-gifts" style="width:30px"></i> 禮物</span>
                            <ul>
                                <li><a href="~/FrontGift/GiftList" style="text-decoration:none"><i class="fas fa-gift" style="width:30px"></i> 禮物店</a></li>
                                @if (Session["ID"] != null)
                                {
                                    <li><a href="~/FrontGift/GiftCart?userID=@Session["ID"]" style="text-decoration:none"><i class="fas fa-shopping-cart" style="width:30px"></i> 已兌換禮物</a></li>
                                }

                            </ul>

                        </li>
                        <li>
                            <span class="opener"><i class="fas fa-file" style="width:30px"></i> 貼文</span>
                            <ul>
                                <li><a href="~/FrontPost/AllPosts" style="text-decoration:none"><i class="far fa-file" style="width:30px"></i> 所有貼文</a></li>
                                @if (Session["ID"] != null)
                                {

                                    <li><a href="~/FrontPost/UserPostList" style="text-decoration:none"><i class="fas fa-user-edit" style="width:30px"></i> 我的貼文</a></li>
                                }
                            </ul>
                        </li>
                        @if (Session["ID"] != null)
                        {
                            <li><a href="~/FrontContact/Chat" style="text-decoration:none"><i class="fas fa-comments" style="width:30px"></i> 聯絡我們</a></li>
                        }

                        @if (Session["ID"] != null)
                        {
                            <li><a href="~/Admin/Login/Index" style="text-decoration:none"><i class="fas fa-user-cog" style="width:30px"></i> 後台</a></li>
                        }

                        @if (Session["ID"] != null)
                        {
                            <li><a href="~/Home2/Logout" style="text-decoration:none"><i class="fas fa-sign-out-alt" style="width:30px"></i> 登出</a></li>
                        }

                    </ul>
                </nav>



            </div>
        </div>




    </div>

    <!-- Scripts -->
    <script src="~/Content/js/jquery.min.js"></script>
    <script src="~/Content/js/browser.min.js"></script>
    <script src="~/Content/js/breakpoints.min.js"></script>
    <script src="~/Content/js/util.js"></script>
    <script src="~/Content/js/main.js"></script>

    @RenderSection("Scripts", required: false)




</body>
</html>