
@{
    ViewBag.Title = "AddUser";
    Layout = "~/Areas/Admin/Views/Shared/AdminLayout.cshtml";
}

@section Styles
{
    <script src="~/Areas/Admin/Content/JS/ckeditor/ckeditor.js"></script>
}
<section class="content-header">
    <h1>新增禮物</h1>
    <ol class="breadcrumb float-sm-left">
        <li class="breadcrumb-item"><a>後臺頁面</a></li>
        <li class="breadcrumb-item"><a>禮物</a></li>
        <li class="breadcrumb-item active"><a>新增禮物</a></li>
    </ol>
</section>
<br />
<div class="card-footer">
    <button type="submit" class="btn btn-primary" onclick="window.location.href='../Gift/GiftList'">所有禮物</button>
</div>
<section class="content">
    <div class="row">
        <div class="col-12">
            @Html.Partial("~/Areas/Admin/Views/Shared/MessageForm.cshtml")
            <div class="box box-primary">
                @using (Html.BeginForm("AddGift", "Gift", FormMethod.Post, new { @enctype = "multipart/form-data" }))
                {
                    @Html.Partial("Partial/GiftForm")

                }
            </div>
        </div>
    </div>
</section>
@section Scripts {

    
}
