@using DAL
@model List<Workout>

@{
    ViewBag.Title = "WorkoutLog";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}

@section Styles
{

    <link href="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/r-2.2.7/datatables.min.css" />*@
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-timepicker/jquery-ui-timepicker-addon.css" />
    
    <style>
        .mainTitle {
            font-size: 3em;
            font-weight: 600;
            font-style: italic;
            color: #f56a6a;
            padding: 0;
        }

        .myBox {
            border: solid 2px gray;
            border-radius: 10px;
            padding: 10px;
        }

        .operate {
            min-height: 200px;
            box-sizing: border-box;
        }

        #mainDiv {
            width: 100%;
            margin: auto;
            margin-top: 20px;
            position: relative;
            /*width: 500px;*/
            /*top: 80px;*/
        }

        #mainRow {
            position: relative;
            left: 20px;
            width: 100%;
        }

        .innerRow {
            position: relative;
            left: 10px;
            padding: 10px;
        }

        label {
            display: inline-block;
            text-align: left;
        }

        #wHoursForNew, #wTimeForNew, #wHoursForEdit, #wTimeForEdit {
            display: inline-block;
        }

        #wNameForNew, #wNameForEdit {
            display: inline-block;
            width: 200px;
        }

        #new, #Edit, #Delete {
            float: right;
            font-size: 14px;
        }

        #wlTable_filter label input {
            display: inline-block;
            width: 120px;
            float: right;
        }

        #wlTable_filter label {
            display: flex;
            align-items: center;
            margin-left: 3px;
        }

        #wlTable_filter {
            /*margin-left: auto;*/
        }

        #wlTable_paginate {
            margin-left: auto;
        }

        #wlTable_wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .calConsume {
            font-size: 1.2em;
            font-style: italic;
            color: #f56a6a;
        }

        #consumeForNew, #consumeForEdit {
            height: 2em;
        }

        #newTitle, #editTitle {
            font-size: 2em;
            font-weight: 600;
            color: #f56a6a;
            text-align: center;
        }

        .ui-datepicker {
            width: 300px;
            height: max-content;
        }

        .ui-datepicker select {
            height: 1.5em;
            display: inline-block;
        }

        .ui-timepicker-div dl { all:initial; display:flex; flex-wrap:wrap; align-items:center }
        .ui-timepicker-div dl dt { all:initial; width:30%; display:inline-block; margin-bottom:10px }
        .ui-timepicker-div dl dd { all:initial; width:60%; display:inline-block; margin-bottom:10px }

    </style>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "wlForm" }))
{
    @Html.AntiForgeryToken()
}
<div id="main">
    <div class="inner">
        @*<header id="header">
            <a href="/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" width="50"></a>
            <a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>

            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
            </ul>
        </header>*@

        <div id="mainDiv">
            <div id="mainRow" class="row">
                <div class="mainTitle col-12">運動紀錄</div>
                <div class="myBox operate col-6 col-6-medium col-12-small" style="display:flex; flex-direction:column">
                    <div id="newTitle">新增 / 預定 運動紀錄</div>
                    <div class="form-group" style="margin-bottom:2px; width:100%; display:block">
                        <label for="wNameForNew">運動項目</label>
                        @Html.DropDownList("wNameForNew", new SelectList(Model, "ID", "Name"), new { @class = "form-control" })
                    </div>
                    <div style="display:block; line-height:3em; border-bottom:solid 2px #f56a6a; margin-bottom:5px">
                        <span id="AlForNew"></span>，【<span id="WcForNew"></span>】類型
                    </div>
                    <div class="form-group" style="margin-bottom:2px; display:block">
                        <label for="wTimeForNew">運動時間</label>
                        <input type="text" class="form-control" id="wTimeForNew" style="width:160px; display:inline-block" autocomplete="off" />
                    </div>
                    <div class="form-group" style="margin-bottom:2px; display:block">
                        <label for="wHoursForNew">運動多久</label>
                        <input type="text" class="form-control" id="wHoursForNew" style="width:120px" placeholder="小時" />
                    </div>
                    <div id="consumeForNew" style="margin-bottom:2px; display:block">
                    </div>
                        <div id="new" class="button primary fit" style="margin-top:auto">新增</div>
                    </div>
                <div class="myBox operate col-6 col-6-medium col-12-small" style="display:flex; flex-direction:column">
                    <div id="editTitle">修改 / 刪除 運動紀錄</div>
                    <div class="form-group" style="margin-bottom:2px; width:100%; display:block">
                        <label for="wNameForEdit">運動項目</label>
                        @Html.DropDownList("wNameForEdit", new SelectList(Model, "ID", "Name"), new { @class = "form-control" })
                    </div>
                    <div style="display:block; line-height:3em; border-bottom:solid 2px #f56a6a; margin-bottom:5px">
                        <span id="AlForEdit"></span>，【<span id="WcForEdit"></span>】類型
                    </div>
                    <div class="form-group" style="margin-bottom:2px; display:block">
                        <label for="wTimeForEdit">運動時間</label>
                        <input type="text" class="form-control" id="wTimeForEdit" style="width:160px; display:inline-block" autocomplete="off" />
                    </div>
                    <div class="form-group" style="margin-bottom:2px; display:block">
                        <label for="wHoursForEdit">運動多久</label>
                        <input type="text" class="form-control" id="wHoursForEdit" style="width:120px" placeholder="小時" />
                        <div style="display:inline-block">
                            <select id="wStatusForEdit">
                                <option value="4">預定中</option>
                                <option value="5">執行成功</option>
                                <option value="6">執行失敗</option>
                            </select>
                        </div>
                    </div>
                    <div id="consumeForEdit" style="margin-bottom:2px; display:block">
                    </div>
                    <div style="display:flex; column-gap:5px; margin-top:auto">
                        <div id="Edit" class="button primary fit">修改</div>
                        <div id="Delete" class="button primary fit">刪除</div>
                    </div>
                </div>
                    <div class="myBox col-12">
                        <table id="wlTable" class="display responsive nowrap" style="width:100%">
                        </table>
                    </div>
                </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/r-2.2.7/datatables.min.js"></script>*@
    <script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.js"></script>
    <script type="text/javascript" src="~/Content/moment-js/moment.min.js"></script>
    <script type="text/javascript" src="~/Content/jquery-ui-timepicker/jquery-ui-timepicker-addon.js"></script>
    <script>


        var minDate = null, maxDate = null;
        var token = null;

        $(function () {

            var form = $('#wlForm');
            token = $('input[name="__RequestVerificationToken"]', form).val();

            let beforeEditStatus = null;

            //===================================================================
            //Estimate Cal
            $("#wHoursForNew").change(function () {
                $.ajax({
                    url: "GetEstimateCal",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        wid: $("#wNameForNew").val(),
                        whours: $("#wHoursForNew").val()
                    },
                    success: function (data) {
                        $("#consumeForNew").html(`估計消耗<span class="calConsume">${data.Consume}</span>卡路里`);
                    }
                });
            });

            $("#wHoursForEdit").change(function () {
                $.ajax({
                    url: "GetEstimateCal",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        wid: $("#wNameForEdit").val(),
                        whours: $("#wHoursForEdit").val()
                    },
                    success: function (data) {
                        $("#consumeForEdit").html(`估計消耗<span class="calConsume">${data.Consume}</span>卡路里`);
                    }
                });
            });

            //===================================================================
            //Initiate Datatable

            let table = $("#wlTable").DataTable({
                ajax: {
                    url: "GetWorkoutLog",
                    type: "post",
                    data: { __RequestVerificationToken: token },
                    dataSrc: ""
                },
                columns: [
                    { data: "ID", title: "ID" },
                    { data: "WorkoutID", title: "WorkoutID" },
                    { data: "EditTime", title: "編輯時間" },
                    { data: "Name", title: "運動項目" },
                    { data: "WorkoutTime", title: "運動時間" },
                    { data: "WorkoutHours", title: "運動多久" },
                    { data: "Consume", title: "運動消耗" },
                    { data: "Status", title: "紀錄狀態" },
                ],
                columnDefs: [
                    {
                        targets: [0, 1],
                        visible: false,
                        searchable: false
                    },
                    {
                        targets: [2, 4],
                        render: function (date) {
                            return moment(date).format("MM月DD日yyyy年 HH:mm");
                        },
                        type: "datetime"
                    }
                ],
                order: [[2, "desc"]],
                lengthChange: false,
                pageLength: 10,
                responsive: true,
                initComplete: function () {

                    let wrap = document.createElement("div");
                    $(wrap).addClass("form-group").addClass("form-inline")
                        .css("display", "inline-block").css("float", "left")
                        .css("margin-bottom", "3px");

                    let lbl1 = document.createElement("label");
                    lbl1.innerHTML = "運動時間 從 ";
                    $(lbl1).css("margin", "3px");

                    let input1 = document.createElement("input");
                    input1.type = "text";
                    input1.className = "form-control";
                    input1.id = "start";
                    $(input1).css("display", "inline-block").css("width", "120px")
                        .attr("autocomplete", "off");

                    let lbl2 = document.createElement("label");
                    lbl2.innerHTML = " 到 ";
                    $(lbl2).css("margin", "3px");

                    let input2 = document.createElement("input");
                    input2.type = "text";
                    input2.className = "form-control";
                    input2.id = "end";
                    $(input2).css("display", "inline-block").css("width", "120px")
                        .attr("autocomplete", "off");;

                    $(wrap).append(lbl1).append(input1).append(lbl2).append(input2);
                    $(".dataTables_wrapper").prepend($(wrap));

                    $(input1).datepicker({
                        changeMonth: true,
                        changeYear: true
                    });

                    $(input2).datepicker({
                        changeMonth: true,
                        changeYear: true
                    });

                }
            });

            //==========================================================
            // New and Edit WorkoutLog DropdownList

            $("#wNameForNew").change(function () {
                let v = $(this).val();
                $.ajax({
                    url: "GetWorkoutAlWc",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        wid: v
                    },
                    success: function (data) {
                        $("#AlForNew").text(data.Al);
                        $("#WcForNew").text(data.Wc);
                    }
                });
            });

            $("#wNameForEdit").change(function () {
                let v = $(this).val();
                $.ajax({
                    url: "GetWorkoutAlWc",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        wid: v
                    },
                    success: function (data) {
                        $("#AlForEdit").text(data.Al);
                        $("#WcForEdit").text(data.Wc);
                    }
                });
            });

            $("#wNameForNew").change();
            $("#wNameForEdit").change();

            //=============================================================
            //Initiate DateTimePicker For New

            let today = new Date();
            today = new Date(today.toDateString());

            let ms = today.getTime() + 24 * 60 * 60 * 1000 * 7;
            let d7 = new Date(ms);
            ms = today.getTime() + 24 * 60 * 60 * 1000 * 8 - 1;
            let d8 = new Date(ms);

            $("#wTimeForNew").datetimepicker({
                minDate: today,
                maxDate: d8,
                showButtonPanel: false,
                changeMonth: true,
                changeYear: true
            });

            $("#wTimeForNew").change(function () {

                let wTime = new Date($(this).datetimepicker().val());

                if (wTime.toDateString() == today.toDateString()) {

                    $("#new").text("新增");
                    $("#new").attr("data-status", 5);

                } else {

                    $("#new").text("預定");
                    $("#new").attr("data-status", 4);
                }

            });

            //=============================================================
            //Initiate DateTimePicker For Edit

            ms = today.getTime() + 24 * 60 * 60 * 1000 * 1;
            let d1 = new Date(ms);

            ms = today.getTime() - 24 * 60 * 60 * 1000 * 7;
            let d7b = new Date(ms);

            $("#wTimeForEdit").datetimepicker({
                minDate: d7b,
                maxDate: d8,
                showButtonPanel: false,
                changeMonth: true,
                changeYear: true
            });

            $("#wTimeForEdit").change(function () {

                let wTime = new Date($(this).datetimepicker().val());

                if (wTime.getTime() >= d1.getTime()) {

                    $("#wStatusForEdit").val(4).attr("disabled", true);
                    $("#wStatusForEdit option").eq(0).removeAttr("disabled");
                } else {
                    //$("#wStatusForEdit").val(5).removeAttr("disabled");
                    $("#wStatusForEdit option").eq(0).attr("disabled", true);
                }

            });

            //=============================================================
            //DataTable Date Filter

            $("body").on("change", "#start", function () {
                minDate = $(this).datepicker("getDate");
                table.draw();
            });

            $("body").on("change", "#end", function () {
                maxDate = $(this).datepicker("getDate");
                maxDate.setDate(maxDate.getDate() + 1);
                table.draw();
            });

            $("body").on("blur", "#start", function () {
                table.draw();
            });

            $("body").on("blur", "#end", function () {
                table.draw();
            });

            
            //=================================================================
            //Add New WorkoutLog

            $("#new").click(function () {

                if (!Date.parse($("#wTimeForNew").datetimepicker().val())) {
                    alert("請輸入有效日期");
                    return;
                }

                let patt = /^[0-9]+[.]?[0-9]*$/

                if (!patt.test($("#wHoursForNew").val())) {
                    alert("請輸入有效時間長度");
                    return;
                }

                let wTime = new Date($("#wTimeForNew").datetimepicker().val());
                let status = $(this).attr("data-status");
                let wName = $("#wNameForNew option:selected").text();
                let wHours = parseFloat($("#wHoursForNew").val());

                $.ajax({
                    url: "AddWorkoutLog",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        WorkoutID: $("#wNameForNew").val(),
                        WorkoutTime: moment(wTime).format("YYYY-MM-DD HH:mm"),
                        WorkoutHours: parseFloat($("#wHoursForNew").val()),
                        StatusID: status
                    },
                    success: function (data) {

                        alert(data.Result);
                        table.ajax.reload();

                        //if (status == 4 && wTime.getTime() <= d8.getTime()) {

                        //    for (var i = 0; i < 7; i++) {
                        //        let tempDay = new Date();
                        //        tempDay = new Date(tempDay.toDateString());
                        //        tempDay.setDate(tempDay.getDate() + i + 1);

                        //        if (tempDay.toDateString() == wTime.toDateString()) {

                        //            let tempDiv = document.createElement("div");
                        //            $(tempDiv).addClass("item");
                        //            $(tempDiv).attr("data-wlid", data.ID);
                        //            $(tempDiv).html(
                        //                `<span>${moment(wTime).format("HH:mm")}</span><br />
                        //                                <span>${wName}</span><br />
                        //                                <span>${wHours}hrs</span><br />
                        //                                `);

                        //            $(".schedule").eq(i).append(tempDiv);
                        //        }
                        //    }

                        //}
                    }
                });
            });

            //===================================================================
            //Delete WorkoutLog
            $("#Delete").click(function () {

                if (!confirm("確定刪除嗎？")) {
                    return;
                }

                let wlid = $(this).attr("data-wlid");

                $.ajax({
                    url: "DeleteWorkoutLog",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        ID: wlid
                    },
                    success: function (data) {
                        alert(data.Result);
                        table.ajax.reload();

                        //$(".schedule .item[data-wlid=" + wlid + "]").remove();
                    }
                });
            });

            //===================================================================
            //Eidt Workout
            $("#Edit").click(function () {

                if ($(this).attr("disabled")) {
                    return;
                }

                if (!Date.parse($("#wTimeForEdit").datetimepicker().val())) {
                    alert("請輸入有效日期");
                    return;
                }

                let patt = /^[0-9]+[.]?[0-9]*$/

                if (!patt.test($("#wHoursForEdit").val())) {
                    alert("請輸入有效時間長度");
                    return;
                }

                let wlid = $(this).attr("data-wlid");

                let wTime = new Date($("#wTimeForEdit").datetimepicker().val());

                $.ajax({
                    url: "EditWorkoutLog",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        ID: wlid,
                        WorkoutID: $("#wNameForEdit").val(),
                        WorkoutTime: moment(wTime).format("YYYY-MM-DD HH:mm"),
                        WorkoutHours: parseFloat($("#wHoursForEdit").val()),
                        StatusID: $("#wStatusForEdit").val()
                    },
                    success: function (data) {
                        alert(data.Result);
                        table.ajax.reload();

                        //if (wTime.toDateString() == today.toDateString()
                        //    && beforeEditStatus == 4) {

                        //    if ($("#wStatusForEdit").val() == 5) {

                        //        $("#checkRow .button[data-wlid=" + wlid + "]").removeClass("primary")
                        //            .text("執行成功").attr("disabled", true);

                        //    } else if ($("#wStatusForEdit").val() == 6) {

                        //        $("#checkRow .button[data-wlid=" + wlid + "]").removeClass("primary")
                        //            .text("執行失敗").attr("disabled", true);
                        //    }

                        //}
                    }
                });
            });

            //===================================================================
            //Row Selection

            $('#wlTable').on('click', 'tr', function () {
                if ($(this).hasClass('selected')) {
                    $(this).removeClass('selected');
                }
                else {
                    table.$('tr.selected').removeClass('selected');
                    $(this).addClass('selected');
                }

                let rowData = table.row(this).data();
                let workoutTime = new Date(moment(rowData.WorkoutTime).format("MM/DD/yyyy HH:mm"));

                let status = null;

                if (rowData.Status == "預定中") {
                    status = 4;
                } else if (rowData.Status == "執行成功") {
                    status = 5;
                } else if (rowData.Status == "執行失敗") {
                    status = 6;
                }

                let tomorrow = new Date(today);
                tomorrow.setDate(tomorrow.getDate() + 1);
                let beforeTomorrow = new Date(tomorrow.getTime() - 1);

                if (status == 4) {
                    $("#wTimeForEdit").datetimepicker("option", "minDate", tomorrow);
                    $("#wTimeForEdit").datetimepicker("option", "maxDate", d8);
                    if (workoutTime.toDateString() == today.toDateString()) {
                        $("#wTimeForEdit").attr("disabled", true);
                    }
                } else if (status == 5 || status == 6) {
                    $("#wTimeForEdit").datetimepicker("option", "minDate", d7b);
                    $("#wTimeForEdit").datetimepicker("option", "maxDate", beforeTomorrow);
                    $("#wTimeForEdit").removeAttr("disabled", true);
                }

                beforeEditStatus = status;

                $("#wNameForEdit").val(rowData.WorkoutID);
                $("#wTimeForEdit").val(moment(rowData.WorkoutTime).format("MM/DD/yyyy HH:mm"));
                $("#wTimeForEdit").change();
                $("#wHoursForEdit").val(rowData.WorkoutHours);
                $("#wStatusForEdit").val(status);
                $('#Edit').attr("data-wlid", rowData.ID);
                $('#Delete').attr("data-wlid", rowData.ID);

                
                if (workoutTime.getTime() < d7b.getTime()
                    || workoutTime.getTime() > d8.getTime()) {

                    $("#wNameForEdit").attr("disabled", true);
                    $("#wTimeForEdit").attr("disabled", true);
                    $("#wHoursForEdit").attr("disabled", true);
                    $("#wStatusForEdit").attr("disabled", true);
                    $("#Edit").text("無法修改").removeClass("primary").attr("disabled", true);

                } else {
                    $("#wNameForEdit").removeAttr("disabled", true);
                    $("#wHoursForEdit").removeAttr("disabled", true);

                    if (!(status == 4 && workoutTime.toDateString() == today.toDateString())) {
                        $("#wTimeForEdit").removeAttr("disabled", true);
                    }

                    if ($("#wStatusForEdit").val() != 4) {
                        $("#wStatusForEdit").removeAttr("disabled", true);
                    }

                    $("#Edit").text("修改").addClass("primary").removeAttr("disabled", true);
                }

                $("#wHoursForEdit").change();
            });
        });



        // Custom filtering function which will search data in column four between two values
        $.fn.dataTable.ext.search.push(
            function (settings, data, dataIndex) {
                var min = null;
                var max = null;

                if (minDate != null) {
                    min = minDate.getTime();
                }
                if (maxDate != null) {
                    max = maxDate.getTime();
                }

                var date = moment(data[4], "MM月DD日yyyy年").valueOf();

                if (
                    (min === null && max === null) ||
                    (min === null && date < max) ||
                    (min <= date && max === null) ||
                    (min <= date && date < max)
                ) {
                    return true;
                }
                return false;
            }
        );

        jQuery.fn.dataTableExt.oSort['datetime-asc'] = function (x, y) {
            let xDate = new Date(moment(x, "MM月DD日yyyy年 HH:mm"));
            let yDate = new Date(moment(y, "MM月DD日yyyy年 HH:mm"));
            if (xDate.getTime() > yDate.getTime()) {
                return 1;
            } else {
                return -1;
            }
        };

        jQuery.fn.dataTableExt.oSort['datetime-desc'] = function (x, y) {
            let xDate = new Date(moment(x, "MM月DD日yyyy年 HH:mm"));
            let yDate = new Date(moment(y, "MM月DD日yyyy年 HH:mm"));
            if (xDate.getTime() > yDate.getTime()) {
                return -1;
            } else {
                return 1;
            }
        };
    </script>
}

