@using DAL
@model List<Workout>

@{
    ViewBag.Title = "WorkoutLog";
    Layout = "~/Views/Shared/HomeLayout2.cshtml";
}

@section Styles
{

    <link href="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.css" rel="stylesheet" />
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.24/css/jquery.dataTables.css">*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/bs4/dt-1.10.24/r-2.2.7/datatables.min.css" />*@
    @*<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.css" />
    <link rel="stylesheet" type="text/css" href="~/Content/jquery-ui-timepicker/jquery-ui-timepicker-addon.css" />*@

    <style>
        .myBox {
            border: solid 2px gray;
            border-radius: 10px;
            padding: 10px;
        }

        .operate {
            min-height: 200px;
            box-sizing: border-box;
        }

        #mainDiv {
            width: 100%;
            margin: auto;
            margin-top: 80px;
            position: relative;
            /*width: 500px;*/
            /*top: 80px;*/
        }

        #mainRow {
            position: relative;
            left: 20px;
            width: 100%;
        }

        .innerRow {
            position: relative;
            left: 10px;
            padding: 10px;
        }

        label {
            display: inline-block;
            text-align: left;
        }

        #wHoursForNew, #wTimeForNew, #wHoursForEdit, #wTimeForEdit {
            display: inline-block;
        }

        #wNameForNew, #wNameForEdit {
            display: inline-block;
            width: 200px;
        }

        #new, #Edit, #Delete {
            float: right;
            font-size: 14px;
        }

        #wlTable_filter label input {
            display: inline-block;
            width: 120px;
            float: right;
        }

        #wlTable_filter label {
            display: flex;
            align-items: center;
            margin-left: 3px;
        }

        #wlTable_filter {
            /*margin-left: auto;*/
        }

        #wlTable_paginate {
            margin-left: auto;
        }

        #wlTable_wrapper {
            display: flex;
            flex-wrap: wrap;
        }

        .scheduleBox {
            display: flex;
            justify-content: center;
            padding: 0px;
        }

        .schedule {
            width: 100%;
            text-align: center;
            border: solid 2px plum;
            border-radius: 10px;
            font-weight: bold;
            min-height: 120px;
            margin: 5px;
            display: flex;
            align-items: flex-start;
            flex-wrap: wrap;
            padding: 5px;
        }

            .schedule.tomorrow {
                width: 70%;
            }

            .schedule > .item {
                border: solid 2px plum;
                border-radius: 10px;
                width: 10em;
                display: inline-block;
                margin-right: 5px;
                margin-top: 5px;
            }

            .schedule > .title {
                border-bottom: solid 2px plum;
                flex-basis: 100%;
                height: 2em;
            }

        @@media screen and (max-width:738px) {
            .schedule.tomorrow {
                width: 100%;
            }
        }

        .ui-timepicker-div dl {
            all: initial;
            display: flex;
            flex-wrap: wrap;
            align-items: center
        }

            .ui-timepicker-div dl dt {
                all: initial;
                width: 30%;
                display: inline-block;
                margin-bottom: 10px
            }

            .ui-timepicker-div dl dd {
                all: initial;
                width: 60%;
                display: inline-block;
                margin-bottom: 10px
            }
    </style>
}

@using (Html.BeginForm(null, null, FormMethod.Post, new { id = "wlForm" }))
{
    @Html.AntiForgeryToken()
}
<div id="main">
    <div class="inner">
        <header id="header">
            <a href="/Home2/Index"><img src="~/Areas/Admin/Content/tempimage/hLogoRed.jpg" width="50"></a>
            <a href="index.html" class="logo"><strong>Editorial</strong> by HTML5 UP</a>

            <ul class="icons">
                <li><a href="#" class="icon brands fa-twitter"><span class="label">Twitter</span></a></li>
                <li><a href="#" class="icon brands fa-facebook-f"><span class="label">Facebook</span></a></li>
                <li><a href="#" class="icon brands fa-snapchat-ghost"><span class="label">Snapchat</span></a></li>
                <li><a href="#" class="icon brands fa-instagram"><span class="label">Instagram</span></a></li>
                <li><a href="#" class="icon brands fa-medium-m"><span class="label">Medium</span></a></li>
            </ul>
        </header>

        <div id="mainDiv">
            <div id="mainRow" class="row">
                <div class="myBox col-12" style="min-height:150px; position:relative">
                    <div class="row innerRow">
                        <div class="col-12 col-12-medium col-12-small scheduleBox">
                            <div class="schedule tomorrow">
                                <div class="title">明天</div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium col-12-small scheduleBox">
                            <div class="schedule">
                                <div class="title">明天</div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium col-12-small scheduleBox">
                            <div class="schedule">
                                <div class="title">明天</div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium col-12-small scheduleBox">
                            <div class="schedule">
                                <div class="title">明天</div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium col-12-small scheduleBox">
                            <div class="schedule">
                                <div class="title">明天</div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium col-12-small scheduleBox">
                            <div class="schedule">
                                <div class="title">明天</div>
                            </div>
                        </div>
                        <div class="col-4 col-6-medium col-12-small scheduleBox">
                            <div class="schedule future">
                                <div class="title">明天</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div id="check" class="myBox operate col-6 col-12-medium col-12-small">
                    <div id="checkRow" class="row innerRow">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

@section Scripts
{
    <script type="text/javascript" src="~/Content/jquery-ui/jquery-ui-1.12.1.custom/jquery-ui.min.js"></script>
    @*<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.10.24/js/jquery.dataTables.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.24/r-2.2.7/datatables.min.js"></script>*@
    @*<script type="text/javascript" src="https://cdn.datatables.net/v/dt/dt-1.10.24/r-2.2.7/datatables.min.js"></script>*@
    <script type="text/javascript" src="~/Content/moment-js/moment.min.js"></script>
    @*<script type="text/javascript" src="~/Content/jquery-ui-timepicker/jquery-ui-timepicker-addon.js"></script>*@
    <script>

        //=================================================================
        //global variable

        var minDate = null, maxDate = null;
        var token = null;
        let today = new Date();
        today = new Date(today.toDateString());

        //==================================================================
        $(function () {

            var form = $('#wlForm');
            token = $('input[name="__RequestVerificationToken"]', form).val();

            //==============================================================
            //Show Today Schedule

            $.ajax({
                url: "GetTodayWorkout",
                type: "post",
                data: {
                    __RequestVerificationToken: token
                },
                success: function (data) {

                    for (var i = 0; i < data.length; i++) {

                        let wsWrapper = document.createElement("div");
                        $(wsWrapper).css("display", "flex").css("align-items", "center")
                            .css("border-bottom", "solid 2px #f56a6a")
                            .css("padding-right", "1.5em")
                            .addClass("col-12").addClass("col-6-medium").addClass("col-12-small");

                        let wsDetail = document.createElement("div");
                        $(wsDetail).css("display", "inline-block");

                        let wt = document.createElement("span");
                        let w = document.createElement("span");
                        let wh = document.createElement("span");

                        $(wt).addClass("wsTime");
                        $(w).addClass("wsName");
                        $(wh).addClass("wsHours");

                        $(wt).text(moment(data[i].WorkoutTime).format("MM月DD日yyyy年 HH:mm"))
                        $(w).text(data[i].Name).css("margin-left", "2em");
                        $(wh).text(data[i].WorkoutHours + "hrs").css("margin-left", "1em");

                        $(wsDetail).append(wt).append("<br/>").append(w).append(wh);

                        let chkBtn = document.createElement("div");
                        $(chkBtn).addClass("button").addClass("primary");
                        $(chkBtn).attr("data-wlid", data[i].ID);
                        $(chkBtn).text("確認執行");
                        $(chkBtn).css("padding", "0px 5px").css("display", "inline-block")
                            .css("margin-left", "auto");

                        $(wsWrapper).append(wsDetail).append(chkBtn);

                        $("#checkRow").append(wsWrapper);

                    }

                }
            });

            //=================================================================
            //Check Schedule
            $("body").on("click", "#checkRow .button", function () {

                if ($(this).attr("disabled")) {
                    return;
                }

                var option = $("#wNameForNew")
                    .children(`option:contains(${$(this).parent().find(".wsName").text()})`);

                let wlid = $(this).attr("data-wlid");

                let wTime = moment($(this).parent().find(".wsTime").text(), "MM月DD日yyyy年 HH:mm");

                let wHours = $(this).parent().find(".wsHours").text();
                wHours = wHours.substring(0, wHours.length - 3);

                $.ajax({
                    url: "EditWorkoutLog",
                    type: "post",
                    data: {
                        __RequestVerificationToken: token,
                        ID: wlid,
                        WorkoutID: option.val(),
                        WorkoutTime: moment(wTime).format("YYYY-MM-DD HH:mm"),
                        WorkoutHours: parseFloat(wHours),
                        StatusID: 5
                    },
                    success: function (data) {
                        alert(data.Result);
                        table.ajax.reload();

                        $("#checkRow .button[data-wlid=" + wlid + "]").removeClass("primary")
                            .text("執行成功").attr("disabled", true);
                    }
                });

            });

            //=================================================================
            //Show Week Schedule

            $(".schedule .title").each(function (i, ele) {

                if (i == 0) {
                    $(ele).text("明天");
                    return;
                }

                let tempDay = new Date(today);
                tempDay.setDate(tempDay.getDate() + i + 1);
                $(ele).text(intToWeekday(tempDay.getDay()));
            });

            $.ajax({
                url: "GetSchedule",
                type: "post",
                data: {
                    __RequestVerificationToken: token
                },
                success: function (data) {

                    let today = new Date();
                    today = new Date(today.toDateString());
                    let tomorrow = new Date(today);
                    tomorrow.setDate(tomorrow.getDate() + 1);
                    let d2a = new Date(today);
                    d2a.setDate(d2a.getDate() + 2);
                    let d3a = new Date(today);
                    d3a.setDate(d3a.getDate() + 3);
                    let d4a = new Date(today);
                    d4a.setDate(d4a.getDate() + 4);
                    let d5a = new Date(today);
                    d5a.setDate(d5a.getDate() + 5);
                    let d6a = new Date(today);
                    d6a.setDate(d6a.getDate() + 6);
                    let d7a = new Date(today);
                    d7a.setDate(d7a.getDate() + 7);

                    for (var i = 0; i < data.length; i++) {

                        let tempDay = new Date(moment(data[i].WorkoutTime).format("YYYY-MM-DD HH:mm"));

                        let tempDiv = document.createElement("div");
                        $(tempDiv).addClass("item");
                        $(tempDiv).attr("data-wlid", data[i].ID);
                        $(tempDiv).html(
                            `<span>${moment(data[i].WorkoutTime).format("HH:mm")}</span><br />
                                            <span>${data[i].Name}</span><br />
                                            <span>${data[i].WorkoutHours}hrs</span><br />
                                            `);

                        if (tempDay.toDateString() == tomorrow.toDateString()) {

                            $(".schedule").eq(0).append(tempDiv);

                        } else if (tempDay.toDateString() == d2a.toDateString()) {

                            $(".schedule").eq(1).append(tempDiv);

                        } else if (tempDay.toDateString() == d3a.toDateString()) {

                            $(".schedule").eq(2).append(tempDiv);

                        } else if (tempDay.toDateString() == d4a.toDateString()) {

                            $(".schedule").eq(3).append(tempDiv);

                        } else if (tempDay.toDateString() == d5a.toDateString()) {

                            $(".schedule").eq(4).append(tempDiv);

                        } else if (tempDay.toDateString() == d6a.toDateString()) {

                            $(".schedule").eq(5).append(tempDiv);

                        } else if (tempDay.toDateString() == d7a.toDateString()) {

                            $(".schedule").eq(6).append(tempDiv);
                        }

                    }
                }
            });
        });

        function intToWeekday(wd) {

            switch (wd) {
                case 0:
                    return "星期日";
                case 1:
                    return "星期一";
                case 2:
                    return "星期二";
                case 3:
                    return "星期三";
                case 4:
                    return "星期四";
                case 5:
                    return "星期五";
                case 6:
                    return "星期六";
            }
        }
    </script>
}



